@use './app/styles/divider';
@use './app/styles/button';
@use './app/styles/input';

html,
body {
  font-family: Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
